ion-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 20%;
}

ion-button{
  width: 87.5%;
  margin: auto;
}

ion-icon{
  font-size: 1.5em;
}
